pandas==1.4.3
speechbrain==0.5.13
transformers==4.20.1
torchaudio==0.12.1
torch==1.12.1
mlflow==1.27.0
librosa==0.9.2
pytorch_lightning==1.2.7
plotly==5.9.0
matplotlib==3.6.2
obspy==1.4.0
pysmo==0.8.0